@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://use.typekit.net/huh0cqi.css");


ul, li{	list-style: none; padding: 0;}
a{text-decoration: none;color: #2d2d2d; display: block;}


.loading{
    width:100%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    background:#fff;
    z-index:1000;
} 

.event{
	width:1000px; 
	text-align:center; 
	margin: 0 auto;
	font-family:  'Roboto', 'Kosugi', "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", 'Meiryo', sans-serif;
}
#event_title{
	width: 100%;
	float: left;
}

#event_title img{
	width: 100%;
	float: left;
}

.navi01{
	width: 100%;
	float: left;
	text-align: center;
	background-color: #967051;
	font-family:  'co-headline', 'Kosugi', "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", 'Meiryo', sans-serif;
	letter-spacing: 0.3pt;
	font-weight: 500;
}
.navi01 ul{
	width: 100%;
	margin: 15px auto;
	text-align: center;
	padding: 0;
}
.navi01 li{
	display: inline-block;
	margin-left: 25px;
	line-height: 19pt;
	color: #FFFFFF;
	font-size: 13pt;
	font-weight: 500;
	
}
.navi01 font{
	color: #FFFFFF;
	font-weight: 500;
}

.fixed {
	
	background-color: rgba(150,112,81,0.9);
	text-align: center;
    position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}




.title{
	float: left;
	width: 100%;
	font-size: 30pt;
    color: #353535;
    line-height: 40pt;
    margin: 0 0 50px 0;
    font-weight: 600;
	text-align: center;
	font-family: 'co-headline', sans-serif;
	letter-spacing: 0.3pt;
	
}
.title:after{
	content: "";
	display: block;
	width: 100px;
	border-bottom: 8px dotted #ababab;
	margin: 5px auto;
	
}







#coupon{
	padding: 100px 0 0;
	margin: 0 auto;
	width: 100%;
	float: left;
	background-color: #efebe8;
}
.cp_img{
	float: left;
	width: 70%;
	margin: 10px 15%;
	
}

#coupon span{
	float: left;
	width: 44%;
	margin: 0 3%;
}
#coupon img{
	width: 100%;
	
}


.cp_info{
	width: 100%;
	float: left;
	margin: 30px auto 50px;
	text-align: center;
}
.cp_info_sb{
	float: left;
	margin-left: 190px;
	margin-top: 5px;
}
#coupon .cp_info_sb img{
	width: 80%;
	
}
.cp_info_tx{
	float: left;
	text-align: left;
	margin-left: 15px;
	
}
.cp_info_tx p{
	font-size: 9pt;
	line-height: 17pt;
	color: #afafaf;
	letter-spacing: 0.5pt;
}




#sp{
	padding: 50px 0;
	margin: 0 auto;
	width: 100%;
	float: left;
	background-color: #efebe8;
}

#sp span{
	float: left;
	width: 70%;
	margin: auto 15%;
}

#sp img{
	width: 100%;
}

#sp_sale{
	padding: 50px 0;
	margin: 0 auto;
	width: 100%;
	float: left;
	background-color: #efebe8;
}

#sp_sale span{
	float: left;
	width: 70%;
	margin: 20px 15%;
}

#sp_sale img{
	width: 100%;
}




.item_title{
	float: left;
    font-size: 11pt;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    color: #333;
	line-height: 16pt;
	letter-spacing: 0.6pt;
}


.item_price{
	float: left;
	width: 100%;
	text-align: left;
	color: #d63434;
	font-size: 16pt;
	margin: 0 auto;
	line-height: 20pt;
	font-weight: 600;
	
}

.item_price font{
	color: #fff;
	margin-right: 5px;
	font-size: 9pt;
	padding: 3px 6px;
	background-color: #d63434;
	vertical-align: bottom;
}






#time{
	padding: 100px 0 0;
	width: 100%;
	float: left;
	margin: 0 auto;
	background-color: #efebe8;
}

.time_day{
	font-size: 16pt;
	font-family: 'co-headline', sans-serif;
	color: #353535;
	line-height: 26pt;
	font-weight: 600;
	text-align: center;
	letter-spacing: 0.3pt;
}



.time_pro{
	width: 100%;
	float: left;
}
.time_pro .time_pro_item{
	float: left;
	width: 90%;
	margin: 10px 5%;
	background-color: #ffffff;
}
.time_pro .time_img{
	width: 96%;
    float: left;
    margin: 10px 2%;
}

.time_pro .time_img02{
	width: 280px;
	float: left;
	margin: 10px 4px 15px;
	
}

.time_img02 div{
	position: relative;
	padding-top: 100%;
	overflow: hidden;
}




.time_item_title{
	float: left;
    font-size: 12pt;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #333;
	line-height: 22pt;
	font-weight: 500;
}

.time_item_price{
	float: left;
	width: 100%;
	text-align: center;
	color: #d63434;
	font-size: 16pt;
	margin: 0 auto 25px;
	line-height: 30pt;
	font-weight: 600;
	
}

.time_item_price font{
	color: #fff;
	margin-right: 10px;
	font-size: 9pt;
	padding: 3px 6px;
	background-color: #d63434;
	vertical-align: bottom;
}


#time ul{
	float: left;
	padding: 0;
	margin-top: 20px;
}
#time li{
	width:400px; 
	margin: 10px 50px; 
	float: left; 
}
#time img{
 	width: 100%;
}





.btn{
	width: 60%;
	margin: 0 auto;
}




#point{
	width: 1000px; 
	padding: 100px 0 0;
	margin: 0 auto;
	float: left;
	background-color: #efebe8;
}
#point ul{
	width: 90%;
    float: left;
    padding: 0;
    margin: 0 5% 25px;
}
#point li{
	width:205px; 
	margin: 0 10px; 
	float: left; 
}
#point img{
 	width: 100%;
}







#sp_price{
	width: 1000px; 
	padding: 100px 0 0;
	margin: 0 auto;
	float: left;
	background-color: #efebe8;
}
#sp_price ul{
	width: 90%;
    float: left;
    padding: 0;
    margin: 0 5%;
}
#sp_price li{
	width:205px; 
	margin: 0 10px 50px; 
	float: left; 
}
#sp_price img{
 	width: 100%;
}






#after_time{
	width: 1000px; 
	padding: 100px 0;
	margin: 0 auto;
	float: left;
}
#after_time ul{
	width: 70%;
	float: left;
	margin: 0 15%;
	padding: 0;
}

#after_time li{
	width: 23%;
	float: left;
	margin: 10px 1% ;
}

#after_time li div{
	position: relative;
	overflow: hidden;
	padding-top: 200%;
}

#after_time .time_day{
	margin: 0 auto;
}










#cosme{
	width: 1000px; 
	padding: 100px 0 0;
	margin: 0 auto;
	float: left;
	background-color: #efebe8;
}

.cosme_pro .cosme_item{
	float: left;
	margin: 0 25px 25px;
}

#cosme img{
 	width: 100%;
	
}

#cosme ul{
	float: left;
	width: 90%;
	padding: 0;
	margin: 0 5%;
}
#cosme li{
	width: 205px; 
	margin: 0 10px; 
	float: left; 
}

#cosme li img{
 	box-sizing: border-box;
	/*border: thin solid #e7e7e7;*/
}

.cosme_pro{
	float: left;
	width: 90%;
	margin: 0 5%;
}

.cosme_item_title{
	float: left;
    font-size: 12pt;
    text-align: center;
    width: 100%;
    margin: 20px auto 0;
    color: #333;
	line-height: 30pt;
	font-weight: 500;
}

.cosme_item_price{
	float: left;
	width: 100%;
	text-align: center;
	color: #d63434;
	font-size: 16pt;
	margin: 0 auto 25px;
	line-height: 20pt;
	font-weight: 600;
	
}

.cosme_item_price font{
	color: #fff;
	margin-right: 10px;
	font-size: 9pt;
	padding: 3px 6px;
	background-color: #d63434;
	vertical-align: bottom;
}





.view_more_btn_c {
    width: 400px;
    margin: 50px 300px 150px;
    text-align: center;
    font-size: 10pt;
    line-height: 30pt;
    float: left;
    color: #3a3a3a;
	word-spacing: 1px;
	font-weight: 500;
}
.view_more_btn_c a {
    display: block;
    border: 1px solid #a1a1a1;
}
.view_more_btn_c a:hover{
	background-color: #333;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color:#fff;
	border:1px solid #333;
	}







#coupon_thanks{
	padding: 100px 0 0;
	margin: 0 auto;
	width: 100%;
	float: left;
}
#coupon_thanks .thanks_cp_img{
	float: left;
	width: 50%;
	margin: 0 25%;
}






#coupon_thanks .cp_info{
	width: 100%;
	float: left;
	margin: 30px auto 50px;
	text-align: center;
}
#coupon_thanks .cp_info_sb{
	float: left;
	margin-left: 160px;
	margin-top: 5px;
}
#coupon_thanks .cp_info_sb img{
	width: 80%;
	
}
#coupon_thanks .cp_info_tx{
	float: left;
	text-align: left;
	margin: 20px 0;
	
}
#coupon_thanks .cp_info_tx p{
	font-size: 9pt;
	line-height: 17pt;
	color: #afafaf;
	letter-spacing: 0.5px;
}




.info_event{
	width: 100%;
	float: left;
	
	
}

.info_event p{
	text-align: left;
	font-size: 9pt;
	margin: 50px 10% 30px;
    line-height: 17pt;
    float: left;
	letter-spacing: 1px;
	color: #000;
}
.info_event font{
	line-height: 20pt;
	font-size: 12pt;
	font-weight: 500;
}





.sale{
	width: 100%;
	margin: 100px auto 30px;
    float: left;
}

.sale div{
	width: 70%;
	margin: 50px auto;
}

.sale img{
	width: 100%;
}



/*
Back to top button 
*/
#back-top2 {
	position: fixed;
	bottom: 100px;
	right: 30px;
}
#back-top2 a {
	width: 56px;
	display: block;
	text-align: center;
	font: 24px/100% 'Exo 2', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	/* background color transition */
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
	vertical-align:middle;
}
#back-top2 a:hover {
	color: #fff;
}
/* arrow icon (span tag) */
#back-top2 span {
	width: 56px;
	height:42px;
	display: block;
	margin-bottom: 10px;
	background-color: #967051 ;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
	border-radius:30px;
	padding-top:14px;

}
#back-top2 a:hover span{
	background-color: rgba(150,112,81,0.7);
}